<!-- login -->
<body class="text-center" style="display: flex; padding-bottom: 45px;">
  <%= form_for(@admin, url: login_path, html: {class: "form-signin justify-content-center"}) do |f| %>
    
    <style type="text/css">
      .alert {
        left: 38.5%;
        width: 23%;
        top: 50px;
        padding: 15px;
      }
    </style>
    
    <%= render 'layouts/alert' %>
    <div class="wrapper">
      <%= image_tag "logos/Circunnect_logo.png", size: "175" %>
      <p class="text">Circunnect</p>
    </div>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <%= f.label :username, class: 'sr-only' %>
    <%= f.text_field :username, type: 'username',
        class: 'form-control', placeholder: 'Username',
        autofocus: true, autocomplete: 'off', required: true %>
    <%= f.label :password, class: 'sr-only' %>
    <%= f.password_field :password, class: 'form-control',
        placeholder: 'Password', required: true %>
    <br>
    <%= f.button "Sign in", class: "btn btn-lg btn-primary btn-block" %>
  <% end %>
</body>