<!DOCTYPE html>
<html>
  <head>
    <title>Circunnect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <script>
      setTimeout("$('.alert_msgs').fadeOut('slow')", 3000)
    </script>
    <%= yield %>
  </body>
</html>
